/********************/
/* Custom color  */
/********************/
body{
    --rarity-none: rgba(65,65,65,255);
    --rarity-0: rgba(170,170,170,255);
    --rarity-1: rgba(146,193,105,255);
    --rarity-2: rgba(116,146,214,255);
    --rarity-3: rgba(216,167,255,255);
    --rarity-4: rgba(255,241,88,255);
    --rarity-5: rgba(255,95,88,255);
    --rarity-6: rgba(63,214,226,255);
    --banal:rgba(170,170,170,255);
    --aqua:rgba(116,146,214,255);
    --pyro:rgba(255,95,88,255);
    --terra:rgba(129,229,90,255);
    --électro:rgba(255,241,88,255);
    --chaos:rgba(216,167,255,255);
    --céleste:rgba(63,214,226,255);
}

/********************/
/* Console Element  */
/********************/
.console {
    position: absolute;
    top: 0;
    bottom: 0;
    min-width: 202px;
    width: 500px;
    max-width: 100vw;
    height: 34px;
    background: #232327;
    opacity: 1;
    color: #fff;
    overflow: hidden;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    font: initial;
    font-size: 16px;
}
.console-resize {
    background-color: #35393b;
    position: absolute;
    width: 4px;
    height: 100%;
    cursor: w-resize;
}
.console.phone {
    width: 100% !important;
    height: 100% !important;
}

/********************/
/* Header           */
/********************/
.header {
    background: #0c0c0d;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3em 0.6em;
}
.header-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.title {
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
}

/********************/
/* Actions          */
/********************/
#battlelogs-actions {
    font-size: 13px;
}
.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    border-bottom: 1px solid #919191;
    padding: 0 8px 0 0;
}
.filter {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #ccc;
    font-family: 'Roboto Condensed',sans-serif;
}
.filter:hover {
    background-color: #434346;
}
.filter.selected {
    background-color: #58585c;
    color: #fff;
}

/********************/
/* Settings         */
/********************/
#battlelogs-settings_header {
    background: #232327;
    color: #fff;
    padding: 0.3em 0.6em;
    cursor: default;
    border-bottom: 1px solid #919191;
    font-size: 13px;
}
/********************/
/* Logs */
#settings-logs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}
.settings-left {
    display: flex;
    align-items: center;
    gap: 8px;
}
.settings-right {
    display: flex;
    align-items: center;
    gap: 8px;
}
.settings-right button {
    padding: 0 0.5em;
}
/********************/
/* Menu Settings */
#battlelogs-menu_settings {
    overflow:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;
}
#battlelogs-menu_settings.hidden {
    display: none;
}

.settings-section {
    width: 250px;
}

.settings-section h3 {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.settings-section ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style-type: none;
}

.settings-section li {
    font-family: 'Calibri', sans-serif;
    display: flex;
}

.settings-section input[type="checkbox"] {
    margin: 0 6px 0 0;
}

.settings-section input[type="color"] {
    width: .875em;
    height: .875em;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    background: none;
    padding:0;
    margin-right: 6px;
}
.settings-section input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
.settings-section input[type="color"]::-webkit-color-swatch {
    border: none;
}

/********************/
/* Wrapper          */
/********************/
.wrapper {
    align-self: flex-start;
    overflow-x: auto;
    width: 100%;
}

/********************/
/* Footer           */
/********************/
#battlelogs-settings_footer-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}
.footer {
    background-color: #0c0c0d;
    margin-top: auto;
    padding: 0.3em 0.6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer .settings-left {
    gap: 2px;
}

/*********************/
/* Messages Elements */
/*********************/
.messages {
    height: 100%;
    background-color: #0c0c0d;
}
.messages > p {
    margin: 0;
    font-family: monospace, monaco, Consolas;
    font-size: 13px;
    line-height: 18px;
    padding: 0.2em 0.5em;
    white-space: pre-wrap;
    word-break: break-word;
    border-bottom: 1px solid #919191;
    background-color: #232327;
    display: flex;
    align-items: center;
    gap: 1em;
    color: #F6F6F6;
}
.messages > p:nth-last-child(1) {
    border-bottom: 0;
    padding-bottom:0.25em;
}
.time {
    flex: none;
    color: #9d9d9f;
    font-family: Calibri,sans-serif;
}
.type {
    flex: none;
    margin-left: auto;
    color: #00A7FF;
    font-family: Calibri,sans-serif;
}

/* Sélectionne le span avec la classe "type" */

.type {
    position: relative; /* ajoute une position relative pour le span */
}
.type:hover::before {
    content: url("data:image/svg+xml, %3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor' color='%23959595'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16'%3E%3C/path%3E%3C/svg%3E");
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    color: white;
    cursor: pointer;
}

.type:hover > span {
    visibility: hidden;
}

/*********************/
/* Glossary Elements    */
/*********************/
.glossary {
    display: flex;
    height: 92vh;
    background-color: #0c0c0d;
}

#battlelogs-glossary_panel.hidden {
    display: none;
}

/*********************/
/* Stats Elements    */
/*********************/
#battlelogs-stats_panel {
    display: flex;
    flex-wrap: wrap;
    padding: .5rem 1rem;
    gap: .7rem;
}
.stats div[id^='Stats-'] {
    border: 1px solid black;
    background-color: #35393b;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 1em;
    flex: 1 0 350px;
    max-width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

.stats-title {
    background-color: #58585c;
    padding: .3em 1em;
    display: flex;
    justify-content: space-between;
}

.stats-title-name {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Roboto Condensed',sans-serif;
    margin: auto 0;
}

.stats-title-date {
    text-transform: lowercase;
    font-size: 11px;
    text-align: right;
    font-family: 'Roboto',sans-serif;
    display: flex;
    align-items: center;
    gap: 4px;
}

.stats-block {
    padding: 0 1em;
}

.stats-subtitle {
    margin-top: .5rem;
    margin-bottom: .3rem;
    display: flex;
    justify-content: space-between;
}

.stats .stats-bar {
    width: 100%;
    display: flex;
    border-radius: 6px;
    background-color: #595959;
    overflow: hidden;
    white-space: nowrap;
    height: 20px;
    border: #595959 3px solid;
}

.stats .stats-bar > span {
    display: block;
    border-color: black;
    margin: auto;
    text-align: center;
    height: 100%;
    overflow: hidden;
}

.stats-bar > span[class^="bar-rarity-"] {
    font-size: 12px;
    font-family: monospace, monaco, Consolas;
    color: black;
    font-weight: bold;
    cursor: help;
}

.bar-rarity-0 {
    background-color: var(--rarity-0);
}
.bar-rarity-1 {
    background-color: var(--rarity-1);
}
.bar-rarity-2 {
    background-color: var(--rarity-2);
}
.bar-rarity-3 {
    background-color: var(--rarity-3);
}
.bar-rarity-4 {
    background-color: var(--rarity-4);
}
.stats .item-name {
    font-style: italic;
}
.stats .item-cost {
    text-align: right;
    font-weight: normal;
}
#Stats-stuffs {
    flex: 1 0 100%;
}
.stats-stuffs-container {
    width: 100%;
    padding: .7rem;
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    gap: 1rem;
}
.stats-stuff {
    background-color: #595959;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 338px;
    min-width: 230px;
    max-width: 676px;
}

.stats-stuff-header {
    display: flex;
    justify-content: space-between;
    padding: .2rem .5rem;
    background-color: #0c0c0d;
}
.stats-stuff-body {
    padding: .5rem;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-items: stretch;
    flex: 1 1 auto;
    gap: .5rem;
}

.stuff-body-block {
    display: flex;
    flex-direction: column;
    border: 1px solid #232327;
    border-radius: 5px;
    overflow: hidden;
    flex: 1 1 auto;
    gap: .5rem;
}
.stuff-body-block[data-key="loadout"] {
    flex-grow: 0;
    border: none;
    background-color: transparent;
}

.stuff-body-block-title, .stuff-body-block-values {
    padding: .5rem;
}

.stuff-body-block-values {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    flex-direction: column;
    padding-top: 0;
}
.values-loadout {
    flex-direction: row;
    padding: 0 !important;
}

.values-loadout > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
    gap: .5rem;
}

.stuff-body-block-values .key {
    height: 100%;
    background-color: #232327;
    text-transform: uppercase;
    font-size: 11px;
    text-align: right;
    padding: .3rem 10px;
}
.stuff-body-block-values .value {
    flex-basis: 100%;
    background-color: #35393b;
    text-align: left;
    padding: .3rem 5px;
}
.stuff-body-block-title {
    background-color: #232327;
}
.stuff-body-block-values div[data-key] {
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    align-items: center;
    background-color: #232327;
}
.values-loadout .key {
    justify-content: flex-end;
}
.values-loadout .value {
    justify-content: flex-start;
}
.values-wb .key, .values-battle .key {
    flex-basis: 100%;
    justify-content: flex-start;
}
.values-wb .value, .values-battle .value {
    flex-basis: 30%;
    justify-content: flex-end;
}
.key, .value {
    display: flex;
    align-items: center;
}



/********************/
/* Format */
.format-normal {}
.format-short {}
.format-list {}
.normal-label {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.short-label {
    font-weight: bold;
    text-transform: uppercase;
}
.list-label {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}
.normal-stat {
    font-size: 11px;
    font-weight: bolder;
    text-transform: uppercase;
}
.short-stat {}
.list-stat {}
.normal-familier {
    font-size: 11px;
    margin-left: 4px;
}
.short-familier {
    font-size: 11px;
}
.list-familier {
    font-size: 12px;
}

/********************/
/* Utils            */
/********************/
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #ccc;
}
button:hover {
    background-color: #434346;
}
button.selected {
    background-color: #58585c;
    color: #fff;
}
.hidden {
    display: none !important;
}
.expanded {
    height: 100vh;
}
.side-right {
    right: 0;
    left: auto;
}
.side-left {
    left: 0;
    right: auto;
}
.buttons-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.buttons-group > .buttons-group {
    flex-wrap: wrap;
    gap: 2px;
}
.vl {
    border-left: 1px solid #919191;
    height: 16px;
}
.disable-select {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.stuff-name {
    font-size: revert;
    font-weight: initial;
    text-transform: initial;
}
.pointer-none {
    pointer-events: none;
}

/********************/
/* Objects colors   */
/********************/
.rarity-0 {
    color: var(--rarity-0);
    font-weight: bold;
}
.rarity-1 {
    color: var(--rarity-1);
    font-weight: bold;
}
.rarity-2 {
    color: var(--rarity-2);
    font-weight: bold;
}
.rarity-3 {
    color: var(--rarity-3);
    font-weight: bold;
}
.rarity-4 {
    color: var(--rarity-4);
    font-weight: bold;
}
.rarity-5 {
    color: var(--rarity-5);
    font-weight: bold;
}
.rarity-6 {
    color: var(--rarity-6);
    font-weight: bold;
}
.banal { background-color: #AAAAAA; }
.aqua { background-color: #7492D6; }
.pyro { background-color: #FF5F58; color: black;}
.terra { background-color: #81E55A; color: black;}
.électro { background-color: #FFF158; color: black;}
.chaos { background-color: #D8A7FF; }
.céleste { background-color: #3FD6E2; }



/********************/
/* SVG icons        */
/********************/
.svg_chevron-up {
    background: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23fff' color='%23000'%3E%3Cpath d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    display: inline-block;
    width: 24px;
    height: 24px;
}
.svg_chevron-down {
    background: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23fff' color='%23000'%3E%3Cpath d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    display: inline-block;
    width: 24px;
    height: 24px;
}
.svg_chevron-right {
    background: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%23fff' %3E%3Cpath fill='evenodd' d='M12.79 5.23a.75.75 0 0 1-.02 1.06L8.832 10l3.938 3.71a.75.75 0 1 1-1.04 1.08l-4.5-4.25a.75.75 0 0 1 0-1.08l4.5-4.25a.75.75 0 0 1 1.06.02z' clip-rule='evenodd'/%3E%3C/svg%3E") no-repeat center;
    display: inline-block;
    width: 24px;
    height: 24px;
}
.svg_chevron-left {
    background: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%23fff' %3E%3Cpath fill='evenodd' d='M12.79 5.23a.75.75 0 0 1-.02 1.06L8.832 10l3.938 3.71a.75.75 0 1 1-1.04 1.08l-4.5-4.25a.75.75 0 0 1 0-1.08l4.5-4.25a.75.75 0 0 1 1.06.02z' clip-rule='evenodd'/%3E%3C/svg%3E") no-repeat center;
    display: inline-block;
    width: 24px;
    height: 24px;
}
.svg_dock-right {
    background: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.2 4C20.8 4 22 5.2 22 6.8v10.5c0 1.5-1.2 2.8-2.8 2.8H4.8C3.2 20 2 18.8 2 17.2V6.8C2 5.2 3.2 4 4.8 4h14.4zM16 18.5h3.3c.7 0 1.2-.6 1.2-1.2V6.8c0-.7-.6-1.2-1.2-1.2H16v12.9zM3.5 6.8v10.5c0 .7.6 1.2 1.2 1.2h9.7v-13H4.8c-.7 0-1.3.6-1.3 1.3z' fill='%23fff'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    display: inline-block;
    width: 24px;
    height: 24px;
}
.svg_dock-left {
    background: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.25 4A2.75 2.75 0 0 1 22 6.75v10.5A2.75 2.75 0 0 1 19.25 20H4.75A2.75 2.75 0 0 1 2 17.25V6.75A2.75 2.75 0 0 1 4.75 4ZM8.004 5.5H4.75c-.69 0-1.25.56-1.25 1.25v10.5c0 .69.56 1.25 1.25 1.25h3.254v-13Zm11.246 0H9.504v13h9.746c.69 0 1.25-.56 1.25-1.25V6.75c0-.69-.56-1.25-1.25-1.25Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center;
    display: inline-block;
    width: 24px;
    height: 24px;
}
.svg_trash {
    background: url("data:image/svg+xml, %3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor' color='%23fff'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    display: inline-block;
    width: 24px;
    height: 24px;
}
.svg_settings {
    background: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' width='18' height='18' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23fff'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.324.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 0 1 1.37.49l1.296 2.247a1.125 1.125 0 0 1-.26 1.431l-1.003.827c-.293.24-.438.613-.431.992a6.759 6.759 0 0 1 0 .255c-.007.378.138.75.43.99l1.005.828c.424.35.534.954.26 1.43l-1.298 2.247a1.125 1.125 0 0 1-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.57 6.57 0 0 1-.22.128c-.331.183-.581.495-.644.869l-.213 1.28c-.09.543-.56.941-1.11.941h-2.594c-.55 0-1.02-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 0 1-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 0 1-1.369-.49l-1.297-2.247a1.125 1.125 0 0 1 .26-1.431l1.004-.827c.292-.24.437-.613.43-.992a6.932 6.932 0 0 1 0-.255c.007-.378-.138-.75-.43-.99l-1.004-.828a1.125 1.125 0 0 1-.26-1.43l1.297-2.247a1.125 1.125 0 0 1 1.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.087.22-.128.332-.183.582-.495.644-.869l.214-1.281z'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0z'/%3E%3C/svg%3E") no-repeat center;
    display: inline-block;
    width: 24px;
    height: 24px;
}
.svg_format-normal {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 24 24' stroke='%23fff'%3E%3Cpath d='M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5'/%3E%3C/svg%3E") no-repeat center;
    display: inline-block;
    width: 24px;
    height: 24px;
}
.svg_format-short {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23fff' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M3.75 9h16.5m-16.5 6.75h16.5'/%3E%3C/svg%3E") no-repeat center;
    display: inline-block;
    width: 24px;
    height: 24px;
}
.svg_format-list {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23fff' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0zM3.75 12h.007v.008H3.75V12zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0zm-.375 5.25h.007v.008H3.75v-.008zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0z'/%3E%3C/svg%3E") no-repeat center;
    display: inline-block;
    width: 24px;
    height: 24px;
}
.svg_csv {
    background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='none' stroke='%23fff' stroke-width='2' d='M4.998 9V1H19.5L23 4.5V23H4M18 1v5h5M7 13H5c-1 0-2 .5-2 1.5v3c0 1 1 1.5 2 1.5h2m6.25-6h-2.5c-1.5 0-2 .5-2 1.5s.5 1.5 2 1.5 2 .5 2 1.5-.5 1.5-2 1.5h-2.5m12.25-7v.5C20.5 13 18 19 18 19h-.5S15 13 15 12.5V12'/%3E%3C/svg%3E") no-repeat center;
    display: inline-block;
    width: 24px;
    height: 24px;
}
.svg_sound-off{
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' width='18' height='18' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23ffffff'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M17.25 9.75L19.5 12m0 0l2.25 2.25M19.5 12l2.25-2.25M19.5 12l-2.25 2.25m-10.5-6l4.72-4.72a.75.75 0 011.28.531V19.94a.75.75 0 01-1.28.53l-4.72-4.72H4.51c-.88 0-1.704-.506-1.938-1.354A9.01 9.01 0 012.25 12c0-.83.112-1.633.322-2.395C2.806 8.757 3.63 8.25 4.51 8.25H6.75z' /%3E%3C/svg%3E") no-repeat center;
    display: inline-block;
    width: 24px;
    height: 24px;
}
.svg_sound-on{
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' width='18' height='18' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23ffffff'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M19.114 5.636a9 9 0 010 12.728M16.463 8.288a5.25 5.25 0 010 7.424M6.75 8.25l4.72-4.72a.75.75 0 011.28.53v15.88a.75.75 0 01-1.28.53l-4.72-4.72H4.51c-.88 0-1.704-.507-1.938-1.354A9.01 9.01 0 012.25 12c0-.83.112-1.633.322-2.396C2.806 8.756 3.63 8.25 4.51 8.25H6.75z' /%3E%3C/svg%3E") no-repeat center;
    display: inline-block;
    width: 24px;
    height: 24px;
}
.svg_video{
    background: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 21.75h-1c-.41 0-.75-.34-.75-.75s.34-.75.75-.75h1c2.58 0 4.25-1.67 4.25-4.25V8c0-2.58-1.67-4.25-4.25-4.25H7C4.42 3.75 2.75 5.42 2.75 8v1c0 .41-.34.75-.75.75s-.75-.34-.75-.75V8c0-3.44 2.31-5.75 5.75-5.75h10c3.44 0 5.75 2.31 5.75 5.75v8c0 3.44-2.31 5.75-5.75 5.75Z" fill="%23fff"/><path d="M12.29 21.06c-.37 0-.69-.28-.74-.65C11 16.13 7.88 13 3.59 12.45a.753.753 0 0 1-.65-.84c.05-.41.43-.7.84-.65 4.98.64 8.62 4.27 9.25 9.25.05.41-.24.79-.65.84-.02.01-.06.01-.09.01Z" fill="%23fff"/><path d="M8.93 22.13c-.37 0-.69-.28-.74-.65-.39-3.05-2.62-5.28-5.67-5.67a.753.753 0 0 1-.65-.84c.05-.41.43-.7.84-.65 3.75.48 6.48 3.22 6.96 6.96.05.41-.24.79-.65.84-.03.01-.06.01-.09.01Zm-3.8.64c-.37 0-.69-.28-.74-.65-.17-1.35-1.16-2.34-2.51-2.51a.753.753 0 0 1-.65-.84c.05-.41.43-.7.84-.65 2.02.26 3.55 1.79 3.81 3.81.05.41-.24.79-.65.84h-.1Z" fill="%23fff"/></svg>')  no-repeat center;
    display: inline-block;
    width: 24px;
    height: 24px;
}
button.svg_video {
    margin-right: -2px; /*Adjust gap size*/
}
.svg_chat{
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18" fill="%23fff"><path d="M20.639 0h0.628c0.133 0 0.171 0.035 0.094 0.164 -0.443 0.712 -0.883 1.424 -1.319 2.136 -0.401 0.653 -0.799 1.309 -1.208 1.961 -0.084 0.133 -0.049 0.185 0.08 0.248 1.092 0.527 2.094 1.194 2.949 2.052 1.11 1.117 1.892 2.415 2.09 4.006 0.164 1.312 -0.105 2.544 -0.733 3.703 -0.478 0.879 -1.124 1.623 -1.888 2.261 -0.164 0.14 -0.206 0.262 -0.15 0.475 0.258 0.96 0.499 1.923 0.743 2.886 0.105 0.405 -0.052 0.852 -0.387 1.103 -0.349 0.262 -0.817 0.3 -1.18 0.077 -0.907 -0.555 -1.815 -1.113 -2.719 -1.672 -0.234 -0.143 -0.464 -0.286 -0.694 -0.429 -0.08 -0.052 -0.157 -0.056 -0.248 -0.028 -1.281 0.384 -2.596 0.572 -3.93 0.646 -1.023 0.056 -2.035 -0.017 -3.043 -0.14 -0.15 -0.017 -0.241 0.021 -0.318 0.147 -0.352 0.579 -0.712 1.159 -1.068 1.738 -0.22 0.356 -0.436 0.715 -0.649 1.075 -0.073 0.122 -0.164 0.174 -0.311 0.171 -0.394 -0.01 -0.792 0 -1.187 -0.003 -0.164 0 -0.181 -0.031 -0.098 -0.168 0.677 -1.099 1.354 -2.199 2.028 -3.298 0.719 -1.169 1.434 -2.338 2.153 -3.507 0.691 -1.124 1.385 -2.247 2.076 -3.371 0.81 -1.319 1.616 -2.638 2.425 -3.954 0.712 -1.159 1.431 -2.314 2.143 -3.472 0.949 -1.546 1.902 -3.092 2.848 -4.638 0.077 -0.126 0.161 -0.185 0.307 -0.178 0.192 0.01 0.384 0 0.576 0ZM20.067 19.051c-0.014 -0.077 -0.017 -0.105 -0.024 -0.133 -0.185 -0.726 -0.366 -1.455 -0.558 -2.178 -0.126 -0.468 -0.045 -0.733 0.339 -1.019 0.747 -0.551 1.396 -1.194 1.881 -1.989 0.618 -1.019 0.865 -2.111 0.635 -3.294 -0.213 -1.089 -0.782 -1.982 -1.55 -2.757 -0.789 -0.799 -1.721 -1.396 -2.736 -1.871 -0.101 -0.045 -0.157 -0.035 -0.209 0.066 -0.066 0.122 -0.147 0.237 -0.22 0.356 -0.977 1.588 -1.958 3.176 -2.935 4.767 -0.656 1.068 -1.312 2.143 -1.968 3.211 -0.736 1.201 -1.473 2.398 -2.213 3.595 -0.077 0.122 -0.07 0.157 0.084 0.171 1.305 0.112 2.6 0.07 3.895 -0.136 0.736 -0.115 1.459 -0.293 2.167 -0.523 0.23 -0.073 0.457 -0.08 0.674 0.052 0.517 0.318 1.03 0.632 1.546 0.949 0.384 0.237 0.771 0.475 1.194 0.736ZM12.222 2.991c1.075 -0.028 2.317 0.147 3.546 0.412 0.237 0.052 0.471 0.126 0.708 0.185 0.105 0.028 0.136 0.077 0.073 0.174 -0.241 0.391 -0.482 0.782 -0.719 1.176 -0.056 0.094 -0.136 0.07 -0.216 0.049 -0.551 -0.147 -1.113 -0.241 -1.679 -0.307 -1.012 -0.122 -2.028 -0.133 -3.047 -0.073 -1.145 0.07 -2.261 0.269 -3.354 0.607 -1.644 0.51 -3.148 1.27 -4.366 2.516 -0.817 0.834 -1.392 1.804 -1.55 2.98 -0.101 0.75 -0.014 1.483 0.262 2.195 0.52 1.333 1.476 2.293 2.638 3.075 1.026 0.691 2.153 1.166 3.343 1.501 0.209 0.059 0.213 0.066 0.098 0.255 -0.213 0.352 -0.433 0.701 -0.646 1.057 -0.063 0.108 -0.136 0.126 -0.244 0.087 -1.703 -0.555 -3.277 -1.344 -4.617 -2.558 -0.907 -0.82 -1.623 -1.776 -2.056 -2.925 -0.541 -1.438 -0.52 -2.879 0.045 -4.307 0.534 -1.347 1.448 -2.401 2.572 -3.284 1.068 -0.845 2.265 -1.455 3.549 -1.905 1.773 -0.625 3.598 -0.918 5.664 -0.904Z"/><path d="M8.784 11.3c0 0.677 -0.541 1.221 -1.214 1.225 -0.667 0 -1.214 -0.555 -1.214 -1.228 0 -0.681 0.537 -1.214 1.218 -1.214 0.684 0 1.211 0.53 1.211 1.218Zm3.228 -1.221c0.147 0 0.29 0.031 0.426 0.08 0.098 0.035 0.122 0.091 0.063 0.185 -0.377 0.607 -0.75 1.218 -1.12 1.829 -0.077 0.126 -0.136 0.084 -0.216 0.01 -0.345 -0.325 -0.475 -0.893 -0.297 -1.337 0.181 -0.461 0.639 -0.768 1.145 -0.764Zm5.633 1.232c-0.007 0.667 -0.565 1.218 -1.232 1.214 -0.667 0 -1.204 -0.569 -1.197 -1.26 0.007 -0.67 0.544 -1.19 1.225 -1.187 0.674 0.007 1.211 0.555 1.204 1.232Z"/></svg>') no-repeat center;
    display: inline-block;
    width: 24px;
    height: 24px;
}
button.svg_chat {
    margin-left: -2px; /*Adjust gap size*/
}
.svg_glossary{
    background: url('data:image/svg+xml,<svg width="18" height="18 " viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="%23fff" fill-rule="evenodd"><path d="M8 9H5a1 1 0 1 1 0-2h3a1 1 0 1 1 0 2zm0 4H5a1 1 0 0 1 0-2h3a1 1 0 1 1 0 2zm0 4H5a1 1 0 0 1 0-2h3a1 1 0 0 1 0 2zm8-8h3a1 1 0 0 0 0-2h-3a1 1 0 0 0 0 2zm0 4h3a1 1 0 0 0 0-2h-3a1 1 0 0 0 0 2zm0 4h3a1 1 0 0 0 0-2h-3a1 1 0 0 0 0 2z"/><path d="M22 2h-9c-.351 0-.696.093-1 .27A1.994 1.994 0 0 0 11 2H2a2.006 2.006 0 0 0-2 2v16a2.006 2.006 0 0 0 2 2h9c.34.003.676-.087.97-.26a.05.05 0 0 1 .06 0c.294.173.63.263.97.26h9a2.006 2.006 0 0 0 2-2V4a2.006 2.006 0 0 0-2-2zM10.5 20h-8a.5.5 0 0 1-.5-.5v-15a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v15a.5.5 0 0 1-.5.5zm11.5-.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-15a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v15z"/></g></svg>') no-repeat center;
    display: inline-block;
    width: 24px;
    height: 24px;
}
.svg_stats {
    background: url('data:image/svg+xml,<svg width="22" height="22" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="%23fff"><path fill="none" d="M0 0h24v24H0z"/><path d="M19 3H5A2 2 0 0 0 3 5v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2 -2V5A2 2 0 0 0 19 3zm0 16H5V5h14v14zM9 17H7V12H9v5zm4 0H11V7h2v10zm4 0h-2V10h2v7z"/></svg>') no-repeat center;
    display: inline-block;
    width: 24px;
    height: 24px;
}
.svg_reset {
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" xml:space="preserve" width="16" height="16"><path fill="none" stroke="%23fff" stroke-width="1" stroke-miterlimit="10" d="M12.85 5.45A5.466 5.466 0 0 0 8 2.501C5.65 2.501 3.701 3.95 2.901 6m0.2 4.501c0.901 1.75 2.75 3 4.899 3 2.35 0 4.301 -1.45 5.101 -3.501"/><path fill="none" stroke="%23fff" stroke-width="1" stroke-miterlimit="10" d="M13 2.501v3h-3m-7 8v-3h3"/></svg>') no-repeat center;
    display: inline-block;
    width: 16px;
    height: 16px;
}

/********************/
/* Phone            */
/********************/
#battlelogs-phone_expand {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    writing-mode: vertical-rl;
    transform:rotate(180deg);
    text-orientation: sideways;
    cursor: pointer;
    background-color: #232327;
    font-size: 16px;
}
#battlelogs-phone_expand .title {
    margin-top: auto;
    text-align: left;
    padding-bottom: 1em;
}

/********************/
/* Prompt           */
/********************/
.prompt {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #232327;
    padding: 20px;
    border: 1px solid #0c0c0d;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}
.prompt label {
    display: block;
    margin-bottom: 10px;
}
.prompt input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.prompt .button-container {
    text-align: right;
}
.prompt button {
    padding: 5px 10px;
    background-color: #29585b;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.prompt button.primary {
    background-color: #29585b;
    color: #ffffff;
}
.prompt button.danger {
    background-color: #e94045;
}
.about-popup {
    background-color: #232327;
    color: #ecf0f1;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    max-height: 500px;
    overflow: auto;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.about-quote {
    font-style: italic;
    margin-bottom: 20px;
}

.about-contributors {
    margin-bottom: 20px;
}

.about-contributor {
    margin: 5px 0;
}

.about-buttons {
    display: flex;
    justify-content: flex-end;
}

.about-button {
    color: #ecf0f1;
    background-color: #29585b;
    border: none;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 3px;
    cursor: pointer;
}

/********************/
/* QUICKFIX         */
/********************/
@media screen and (max-width: 1290px) {
    #rightBar {
        display: none !important;
    }

    .game-out {
        margin-left: 0 !important;
    }
}